body {
  margin: 0;
  padding: 0;
}
.top-container {
  background-color: #c6dae4;
  position: relative;
  padding-top: 40px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.author-name {
  font-family: "Abhaya Libre", serif;
  color: #2f3644;
  font-size: 36px;
  margin-left: 4rem;
}
.nav-bar-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 50px;
}
.nav-bar-links li {
  display: inline-block;
  margin: 0 10px;
}
.nav-bar-links a {
  font-family: "Abhaya Libre", serif;
  font-size: 36px;
  color: #2f3644;
  text-decoration: none;
}
.images-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 15vh;
}
.center-image {
  max-width: 20%;
  position: absolute;
}
.left-image {
  max-width: 17.5%;
  padding-right: 20vh;
}
.right-image {
  max-width: 17.5%;
  padding-left: 0vh;
}
.left-image,
.right-image {
  padding-top: 15px;
}
.purchasing-link {
  font-family: "Abhaya Libre", serif;
  font-size: 22.8px;
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 15px;
}
.link {
  color: #737071;
}
.download-prompt {
  font-family: "Abhaya Libre", serif;
  font-size: 30px;
}
#excerpt-btn {
  font-family: "Arapey", serif;
  font-size: 29px;
  background: #d3c743;
  border: 2px solid #ebe178;
}
#excerpt-btn:hover {
  cursor: pointer;
}
.purchasing-link,
.download-form,
.download-prompt {
  display: flex;
  justify-content: center;
}
.testimonial-container {
  font-family: "Abhaya Libre", serif;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.heading {
  font-size: 32px;
  text-decoration: underline;
  color: #2f3644;
}
.quote {
  font-size: 24px;
  color: #2f3644;
}
.writer {
  font-size: 29px;
  color: #2f3644;
}
.title {
  font-size: 25.7px;
  color: #2f3644;
}
#about-contact-container {
  display: flex;
  justify-content: center;
  padding-left: 15vh;
  padding-top: 10vh;
}
.vertical-line {
  width: 3px;
  height: 800px;
  background-color: #ddeaf0;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5vh;
}
.about h3 {
  font-family: "Abhaya Libre", serif;
  font-size: 31px;
  text-align: center;
  color: #2f3644;
}
.explanation {
  font-family: "Abhaya Libre", serif;
  font-size: 22.5px;
  color: #2f3644;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5vh;
  padding-top: 7vh;
}
.contact h3 {
  font-family: "Abhaya Libre", serif;
  font-size: 31px;
  padding-right: 15vh;
  color: #2f3644;
}
.contact p {
  font-family: "Abhaya Libre", serif;
  font-size: 22.5px;
  padding-right: 10vh;
  color: #2f3644;
}
.email-form {
  display: flex;
  flex-direction: column;
  padding-right: 10vh;
  font-family: "Arapey", serif;
  font-size: 20px;
}
input[type="text"] {
  font-family: "Abhaya Libre";
  padding: 8px;
  border: 1.5px solid #737373;
  font-size: 20px;
}
textarea[name="message"] {
  font-family: "Abhaya Libre";
  padding: 8px;
  border: 1.5px solid #737373;
  font-size: 20px;
}
.submit-btn {
  font-family: "Abhaya Libre", serif;
  font-size: 22px;
  color: #737071;
  background-color: #c6dae4;
  border: none;
  max-width: fit-content;
  text-align: center;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

#media-container-podcast {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 15vh;
}
.media-container-podcast audio {
  width: 100%;
}
.media-header {
  font-family: "Abhaya Libre", serif;
  font-size: 36px;
  text-decoration: underline;
  color: #2f3644;
}
.podcast-title {
  font-family: "Abhaya Libre", serif;
  font-size: 38px;
  color: #2f3644;
}
.logo-photo {
  max-width: 15%;
}

hr {
  width: 50%;
  background-color: #ddeaf0;
  height: 3px;
  border: none;
}
.article-title,
.principal-article {
  font-family: "Abhaya Libre", serif;
  font-size: 36px;
  color: #2f3644;
}
.principal-article {
  color: #1b567b;
}
#about-jp-resources {
  background-color: #c6dae4;
  display: flex;
  justify-content: space-around;
}
.about-jp {
  padding-right: 10vh;
}
.about-jp-title {
  font-family: "Abhaya Libre", serif;
  font-size: 30px;
  color: #2f3644;
}
.about-jp-quote {
  font-family: "Abhaya Libre", serif;
  font-size: 22px;
  color: #2f3644;
}
.resources {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.resource-text {
  font-family: "Abhaya Libre", serif;
  font-size: 34px;
  color: #2f3644;
}
.resource-links {
  font-family: "Abhaya Libre", serif;
  font-size: 24px;
}
.link-resource {
  color: #2f3644;
}
